#root {
  width: 100%;
}

.app {
  background-color: var(--primary-bg-color);
  height: 100%;
}

.main-content {
  display: flex;

  /* width: 100%; */
  /* padding: 0px 24px; */
  /* gap: 24px; */
  /* flex-grow: 1; */
  /* align-items: center; */
  height: calc(100vh - 5rem);
  /* height: 100%; */
  background-color: var(--secondary-bg-color);

}

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 448px;
  gap: 16px;

  overflow-y: auto;
}

.resume-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 24px;
}

@media (max-width: 946px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}