#root {
  width: 100%;
}

.app {
  background-color: var(--primary-bg-color);
  height: 100%;
}

.main-content {
  display: flex;
  flex-grow: 1;
  background-color: var(--secondary-bg-color);
  /* align-items: center; */
  justify-content: center;
}

.main-container {
  display: flex;
  height: 100%;
  width: clamp(1100px, 100%, 1500px);
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-height: calc(100vh - 5rem);
  gap: 16px;
  overflow-y: auto;
}