* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  display: flex;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--primary-txt-color);
}

button:hover {
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  cursor: default;   
  background-color: var(--btn-bg-color);
  color: var(--secondary-txt-color);
}

.default-btn {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 500;
}

.icon {
  height: 1.4rem;
}

.app {
  height: 100%;
  background-color: var(--primary-bg-color);
}

.main-content {
  display: flex;
  height: calc(100vh - 5rem);
  background-color: var(--secondary-bg-color);
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 448px;
  gap: 16px;
  overflow-y: auto;
}

.resume-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 24px;
}