.card {
    padding: 12px 24px 20px 24px;
    border-radius: 8px;
    background-color: var(--primary-bg-color);
    -webkit-box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
    -moz-box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
    box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.card__toggle-btn {
    outline: none;
    border: none;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
}

.card__toggle-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-bg-color);
}

.card__toggle-btn-arrow {
    height: 1.5rem;
    fill: var(--secondary-txt-color);
    transition: transform 0.3s ease;
}

.card__toggle-btn-arrow.active {
    transform: rotate(180deg);
}