.card {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--primary-bg-color);
    -webkit-box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
    -moz-box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
    box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
}