.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    height: 2rem;
}
  
.footer__link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-txt-color);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer .github-icon {
  height: 1.4rem;
}