.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.form__fieldset + .form__fieldset {
    margin-top: 16px;
}

.toggle-btn {
    outline: none;
    border: none;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
}

.toggle-btn:hover {
    background-color: var(--secondary-bg-color);
}

.toggle-btn__arrow {
    height: 1.5rem;
    fill: var(--secondary-txt-color);
    transition: transform 0.3s ease;
}

.toggle-btn__arrow.active {
    transform: rotate(180deg);
}

.form__inputs-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-item {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 0.8rem;
    font-weight: 600;
    /* text-transform: uppercase; */
}

.input {
    font-family: var(--font-family);
    font-weight: 500;
    border: 2px solid var(--secondary-bg-color);
    outline: none;
    background-color: var(--secondary-bg-color);
    padding: 8px 4px;
    height: 1.8rem;
    border-radius: 4px;
    color: var(--secondary-txt-color);
    transition: transform 0.025s ease-in;
}

.input:focus {
    border: 2px solid var(--input-focus-color);
    color: var(--primary-txt-color);
    -webkit-box-shadow: 2px 2px 12px 4px rgba(56,189,248,0.2);
    -moz-box-shadow: 2px 2px 12px 4px rgba(56,189,248,0.2);
    box-shadow: 2px 2px 12px 4px rgba(56,189,248,0.2);
    transform: scale(1.025);
}