.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Form Header */
.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__header-title {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.025rem;
}

.toggle-btn {
    outline: none;
    border: none;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
}

.toggle-btn:hover {
    background-color: var(--btn-bg-color-hover);
}

.toggle-btn__arrow {
    height: 1.5rem;
    fill: var(--secondary-txt-color);
    transition: transform 0.3s ease;
}

.toggle-btn__arrow.active {
    transform: rotate(180deg);
}

/* Form Fieldset */
.form__fieldset {
    margin-bottom: 8px;
}

.add-btn {
    background-color: var(--add-btn-bg-color);
    color: var(--add-btn-txt-color);
}

.add-btn:hover {
    background-color: var(--add-btn-bg-color-hover);
}

.delete-btn {
    background-color: var(--delete-btn-bg-color);
    color: var(--delete-btn-txt-color);
}

.delete-btn:hover {
    background-color: var(--delete-btn-bg-color-hover);
}

.input-item {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 0.8rem;
    font-weight: 600;
}

.input {
    height: 1.8rem;
}

.textarea-item > :not(:first-child, :last-child) {
    margin-bottom: 8px;
}

.textarea {
    min-height: 3.6rem;
    resize: vertical;
}

.input, .textarea {
    padding: 8px 4px;
    border-radius: 4px;
    outline: none;
    border: 2px solid var(--secondary-bg-color);
    font-family: var(--font-family);
    font-weight: 500;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
    transition: transform 0.025s ease-out;
}

.input:focus, .textarea:focus {
    border: 2px solid var(--input-focus-color);
    color: var(--primary-txt-color);
    -webkit-box-shadow: 2px 2px 12px 4px rgba(56,189,248,0.2);
    -moz-box-shadow: 2px 2px 12px 4px rgba(56,189,248,0.2);
    box-shadow: 2px 2px 12px 4px rgba(56,189,248,0.2);
    transform: scale(1.025);
}