:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-bg-color: #fff; /* 0 */
  --secondary-bg-color: #f4f4f5; /* 100 */
  --primary-txt-color: #18181b; /* 900 */
  --secondary-txt-color: #71717a; /* 500 */
  /* --accent-color: #; 500 */

  --input-focus-color: #38bdf8;
  --btn-bg-color: #d4d4d8;
  --btn-bg-color-hover: #e4e4e7; 
  --add-btn-bg-color: #bae6fd;
  --add-btn-bg-color-hover: #7dd3fc;
  --add-btn-txt-color: #0284c7;
  --delete-btn-bg-color: #fecaca;
  --delete-btn-bg-color-hover: #fca5a5;
  --delete-btn-txt-color: #dc2626;


  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: var(--primary-txt-color);
}

button:hover {
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.default-btn {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 500;
}

.icon {
  height: 1.4rem;
}

/* move this proly */
.preview-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
