.resume {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(80px * 11);
    width: calc(80px * 8.5);
    padding: 32px;
    background-color: var(--primary-bg-color);
    -webkit-box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
    -moz-box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
    box-shadow: 2px 2px 12px 4px rgba(240,240,240,1);
    line-height: 1.2rem;
}

.resume__section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.resume__section:first-child {
    gap: 8px;
}

.resume__section-title {
    font-weight: 600;
}

.resume__section:first-child,
.resume__section-title {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--secondary-txt-color);
}

.resume__name {
    font-size: 2rem;
}

/* Personal Details */
.resume__contact-info-container {
    display: flex;
}

.resume__contact-info-container {
    display: flex;
    gap: 12px;
}

.resume__contact-info-container li {
    list-style: none;
}

.resume__contact-info-container li:first-child:after,
.resume__contact-info-container li:nth-child(2):after {
    content: "|";
    padding-left: 12px;
    color: var(--secondary-txt-color);
}

/* Sections */


.resume__experience-container {
    font-size: 0.9rem;
}

.resume__details-container {
    display: flex;
    justify-content: space-between;
}

.resume__experience-container h4,
.resume__details-container:first-child {
    font-weight: 500;
}

.resume__details-container:nth-child(2) {
    font-style: italic;
}

.resume__responsibilities-container {
    line-height: 1.1rem;
    padding-left: 24px;
}

.resume__responsibilities-container li::marker {
    color: var(--secondary-txt-color);
}

.resume__skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.8rem;
    list-style: none;
}

.resume__skill-item {
    padding: 4px 8px;
    border-radius: 24px;
    background-color: var(--secondary-bg-color);
}

